#timer {
    font-size: 30px;
    margin-left: 30%;
    color: rgb(52, 12, 63, .75);
    position: absolute;
}

header {
    font-family: 'Shadows Into Light', serif;
    font-size: 100px;
    color: rgb(14, 13, 13, .75);
    position: fixed;
    left: 80%;
}

#container {
    border: 3px solid rgb(22, 22, 22, .5);
    position: fixed;
    /* display: inline; */
}
.next {
    border: 3px solid rgba(7, 7, 7, 0.5);
}
.next2 {
    border: 3px solid rgba(7, 7, 7, 0.7);
}

body {
    background-image: url(../images/micro.png);
    z-index: -1;
    background-size: cover;
    color: white;
    font-family: Lora, sans-serif;
    margin: 20px;
}

#question {
    color: rgba(255, 255, 255, 0.3);
    font-size: 25px;
}

.answers {
    background-color: rgb(14, 13, 13, .75);
    color: rgba(255, 255, 255, 0.3);
    border: none;
    border-radius: 20px;
    width: auto;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 3px;
}
